<!DOCTYPE html>
<html lang="en">
<section id="breadcrumbsFragment" class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 id="pageName" class="page-name">Page name PH</h1>
                    <ol class="breadcrumb">
                        <li><a id="homeLink">Home PH</a></li>
                        <li id="pageName" class="active">Active page PH</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
</html>