<!DOCTYPE html>
<html lang="en">
<footer id="footerFragment">
  <div class="container">
    <div class="row justify-content-around align-items-center mx-auto" style="width: 60%;">
      <p class="mb-0 text-nowrap"><span id="createdByMessage">Created by </span><em>7omasz8</em></p>
      <div class="row no-gutters footer-contact-links">
        <div class="m-2 px-md-1">
          <a id="githubLink" target="_blank">
            <img id ="githubImage" alt="github logo"/>
          </a>
        </div>
        <div class="m-2 px-md-1">
          <a id="linkedinLink" target="_blank">
            <img id ="linkedinImage" alt="linkedin logo"/>
          </a>
        </div>
        <div class="m-2 px-md-1">
          <a id="mailLink" target="_blank">
            <img id ="mailImage" alt="mail logo"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>