<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainMenu">
  <!--Title-->
  <a class="navbar-brand" id="appTitle" href="#">Face Greases</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--Collapse-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--Home-->
      <li class="nav-item">
        <a class="nav-link" id="homeLink" href="#">Home</a>
      </li>
      <!--Shop-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="shopLink" href="#" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Shop</a>
        <div class="dropdown-menu" aria-labelledby="shopLink">
          <!--Face-->
          <a class="dropdown-item" id="faceLink" href="#">Face</a>
          <!--Eyes-->
          <a class="dropdown-item" id="eyesLink" href="#">Eyes</a>
          <!--Lips-->
          <a class="dropdown-item" id="lipsLink" href="#">Lips</a>
          <!--Nails-->
          <a class="dropdown-item" id="nailsLink" href="#">Nails</a>
        </div>
      </li>
      <!--Contact-->
      <li class="nav-item">
        <a class="nav-link" id="contactLink" href="#">Contact</a>
      </li>
    </ul>
    <!--Language switcher-->
    <div class="nav-item">
      <select id="languageSwitcher" class="form-control" onchange="changeLanguage()">
        <option id="en" value="en">EN</option>
        <option id="pl" value="pl">PL</option>
      </select>
    </div>
  </div>
</nav>
</html>