<!DOCTYPE html>
<html lang="en">
<section id="mainMenu" class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown">
                        <a id="homeLink">Home</a>
                    </li><!-- / Home -->

                    <!-- About -->
                    <li class="dropdown">
                        <a id="aboutLink">About</a>
                    </li><!-- / About -->

                    <!-- Shop -->
                    <li class="dropdown full-width dropdown-slide">
                        <a id="shopLink" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false"><span id="shopName">Shop</span><span class="tf-ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu">
                            <div class="row" id="varInit">

                                <!-- Face -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="faceLink" class="dropdown-header">Face</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="blushLink">Blush</a></li>
                                        <li><a id="bronzerLink">Bronzer</a></li>
                                        <li><a id="foundationLink">Foundation</a></li>
                                    </ul>
                                </div>

                                <!-- Eyes -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="eyesLink" class="dropdown-header">Eyes</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="eyebrowLink">Eyebrow</a></li>
                                        <li><a id="eyelinerLink">Eyeliner</a></li>
                                        <li><a id="eyeshadowLink">Eyeshadow</a></li>
                                        <li><a id="mascaraLink">Mascara</a></li>
                                    </ul>
                                </div>

                                <!-- Lips -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="lipsLink" class="dropdown-header">Lips</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="lipstickLink">Lipsctick</a></li>
                                        <li><a id="liplinerLink">Lipliner</a></li>
                                    </ul>
                                </div>

                                <!-- Nails -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="nailsLink" class="dropdown-header">Nails</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="nailPolishLink">Nail Polish</a></li>
                                    </ul>
                                </div>

                                <!-- Shop image -->
                                <div class="col-sm-3 col-xs-12">
                                    <a id="shopLink">
                                        <img id="menuShopImage" class="img-responsive" alt="menu shop image" src=""/>
                                    </a>
                                </div>
                            </div><!-- / .row -->
                        </div><!-- / .dropdown-menu -->
                    </li><!-- / Shop -->
                </ul><!-- / .nav .navbar-nav -->

            </div><!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>

</html>