<!DOCTYPE html>
<html lang="en">
<section id="mainMenu" class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- TODO This menu-title class is visible only in small width. Icons are not mapped to anything. -->
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown">
                        <a id="homeLink">Home PH</a>
                    </li><!-- / Home -->


                    <!-- About -->
                    <li class="dropdown">
                        <a id="aboutLink">About PH</a>
                    </li><!-- / About -->


                    <!-- TODO doesn't need but could be usefull later (?). !REMEMBER search and replace ?? with -- -->
                    <!-- Shop (Aviato template) -->
                    <!--
                  <li class="dropdown dropdown-slide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="tf-ion-ios-arrow-down"></span></a>
                    <div class="dropdown-menu">
                      <div class="row">

                        <!?? Basic ??>
                        <div class="col-lg-6 col-md-6 mb-sm-3">
                            <ul>
                                <li class="dropdown-header">Pages</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="confirmation.html">Confirmation</a></li>

                            </ul>
                        </div>

                        <!?? Layout ??>
                        <div class="col-lg-6 col-md-6 mb-sm-3">
                            <ul>
                              <li class="dropdown-header">Layout</li>
                              <li role="separator" class="divider"></li>
                              <li><a href="product-single.html">Product Details</a></li>
                              <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>

                            </ul>
                        </div>

                      </div><!?? / .row ??>
                    </div><!?? / .dropdown-menu ??>
                  </li><!?? / Shop (Aviato template) ??>-->


                    <!-- Shop -->
                    <li class="dropdown full-width dropdown-slide">
                        <a id="shopLink" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false"><span id="shopName">Shop PH</span><span class="tf-ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu">
                            <div class="row">

                                <!-- Face -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="faceLink" class="dropdown-header">Face PH</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="blushLink">Blush PH</a></li>
                                        <li><a id="bronzerLink">Bronzer PH</a></li>
                                        <li><a id="foundationLink">Foundation PH</a></li>
                                    </ul>
                                </div>

                                <!-- Eyes -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="eyesLink" class="dropdown-header">Eyes PH</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="eyebrowLink">Eyebrow PH</a></li>
                                        <li><a id="eyelinerLink">Eyeliner PH</a></li>
                                        <li><a id="eyeshadowLink">Eyeshadow PH</a></li>
                                        <li><a id="mascaraLink">Mascara PH</a></li>
                                    </ul>
                                </div>

                                <!-- Lips -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="lipsLink" class="dropdown-header">Lips PH</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="lipstickLink">Lipsctick PH</a></li>
                                        <li><a id="liplinerLink">Lipliner PH</a></li>
                                    </ul>
                                </div>

                                <!-- Nails -->
                                <div class="col-sm-3 col-xs-12">
                                    <ul>
                                        <li><a id="nailsLink" class="dropdown-header">Nails PH</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a id="nailPolishLink">Nail Polish PH</a></li>
                                    </ul>
                                </div>

                                <!-- Shop image -->
                                <div class="col-sm-3 col-xs-12">
                                    <a id="shopLink">
                                        <img id="menuShopImage" class="img-responsive" alt="menu shop image PH" src=""/>
                                    </a>
                                </div>
                            </div><!-- / .row -->
                        </div><!-- / .dropdown-menu -->
                    </li><!-- / Shop -->



                    <!-- TODO doesn't need but could be usefull later (?). !REMEMBER search and replace ?? with -- -->
                    <!-- Blog -->
                    <!--
                  <li class="dropdown dropdown-slide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="tf-ion-ios-arrow-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-full-width.html">Blog Full Width</a></li>
                        <li><a href="blog-grid.html">Blog 2 Columns</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                    </ul>
                  </li><!?? / Blog ??>-->

                    <!-- TODO doesn't need but could be usefull later (?). !REMEMBER search and replace ?? with -- -->
                    <!-- Elements -->
                    <!--
                  <li class="dropdown dropdown-slide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Elements <span class="tf-ion-ios-arrow-down"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="typography.html">Typography</a></li>
                      <li><a href="buttons.html">Buttons</a></li>
                      <li><a href="alerts.html">Alerts</a></li>
                    </ul>
                  </li><!?? / Elements ??>-->
                </ul><!-- / .nav .navbar-nav -->

            </div><!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>

</html>