<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en">
<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar">
  <!--Title-->
  <a class="navbar-brand" id="homeLinkWithoutTxt" href="#">
    <img id="logoImage" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--Collapse-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--Home-->
      <li class="nav-item border-right border-black px-md-2 px-lg-3">
        <a class="nav-link px-0" id="homeLink">Home</a>
      </li>
      <!--All products-->
      <li class="nav-item border-right border-black px-md-2 px-lg-3">
        <a class="nav-link px-0" id="allProductsLink">All products</a>
      </li>
      <!--Face-->
      <li class="nav-item dropdown border-right border-black px-md-2 px-lg-3">
        <span class="nav-link dropdown-toggle px-0" id="faceName" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Face</span>
        <div class="dropdown-menu" aria-labelledby="faceName">
          <a class="dropdown-item" id="blushesLink">Blushes</a>
          <a class="dropdown-item" id="bronzersLink">Bronzers</a>
          <a class="dropdown-item" id="foundationsLink">Foundations</a>
        </div>
      </li>
      <!--Eyes-->
      <li class="nav-item dropdown border-right border-black px-md-2 px-lg-3">
        <span class="nav-link dropdown-toggle" id="eyesName" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Eyes</span>
        <div class="dropdown-menu" aria-labelledby="eyesName">
          <a class="dropdown-item" id="eyebrowsLink">Eyebrows</a>
          <a class="dropdown-item" id="eyelinersLink">Eyeliners</a>
          <a class="dropdown-item" id="eyeshadowsLink">Eyeshadows</a>
          <a class="dropdown-item" id="mascarasLink">Mascaras</a>
        </div>
      </li>
      <!--Lips-->
      <li class="nav-item dropdown border-right border-black px-md-2 px-lg-3">
        <span class="nav-link dropdown-toggle" id="lipsName" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Lips</span>
        <div class="dropdown-menu" aria-labelledby="lipsName">
          <a class="dropdown-item" id="lipsticksLink">Lipsticks</a>
          <a class="dropdown-item" id="liplinersLink">Lipliners</a>
        </div>
      </li>
      <!--Nails-->
      <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle pl-md-2 pl-lg-3" id="nailsName" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Nails</span>
        <div class="dropdown-menu" aria-labelledby="nailsName">
          <a class="dropdown-item" id="nailPolishesLink">Nail Polishes</a>
        </div>
      </li>
    </ul>
    <!--Language switcher-->
    <div class="nav-item">
      <select id="localeSwitcher" class="form-control" onchange="changeLocale('localeSwitcher')">
        <option id="localeSwitcherOption">EN</option>
      </select>
    </div>
  </div>
</nav>
</html>