<!DOCTYPE html>
<html lang="en">
<div class="text-center" id="productFragment">
  <div class="card mb-4 border-0">
    <a id="productSingleLink">
      <img class="card-img-top w-auto h-auto" id="productImage" src="" alt="product" />
    </a>
    <div class="card-body">
      <h5 class="card-title text-decoration-none" id="productName">Product name</h5>
      <h6 class="card-subtitle mb-3 text-muted text-decoration-none">Brand</h6>
      <div class="d-flex justify-content-around">
        <p class="d-flex" id="productPrice">$21.37</p>
        <p class="d-flex" id="productRating">6.9</p>
      </div>
    </div>
  </div>
</div>
</html>