<!DOCTYPE html>
<html lang="en">
<div id="productFragment" class="col-md-4">
    <div class="product-item">
        <a id="productSingleLink">
            <div class="product-thumb">
                <img id="productImage" class="img-responsive" src="" alt="product-img PH" />
            </div>
        </a>
        <div class="product-content">
            <h4><a id="productName">Product name</a></h4>
            <p id="productPrice" class="price">Product price</p>
        </div>
    </div>
</div>
</html>