<!DOCTYPE html>
<html lang="en">
<section id="topHeader" class="top-header">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">
                    <i class="tf-ion-ios-telephone"></i>
                    <span id="phoneNumber">0129- 12323-123123 PH</span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Site Logo -->
                <div class="logo text-center">
                    <a id="logoLink">
                        <img id="topLogo" src="" alt="App logo PH"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Cart -->
                <ul class="top-menu text-right list-inline">
                    <!-- Languages -->
                    <li class="commonSelect">
                        <!-- This is language switcher with hard-coded language codes and shortcuts -->
                        <select id="languageSwitcher" class="form-control" onchange="changeLanguage()">
                            <option id="en" value="en">EN</option>
                            <option id="pl" value="pl">PL</option>
                        </select>
                    </li><!-- / Languages -->

                </ul><!-- / .nav .navbar-nav .navbar-right -->
            </div>
        </div>
    </div>
</section>
</html>