.hero-area {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../imagesFinal/about/about-hero-img.jpg");
  background-position: 50% 25%;
  background-size: cover;
  background-attachment: fixed;
}


.hero-area .block {
  position: relative;
  top: 2vh;
  z-index: 999999;
}

.hero-area h1 {
  font-size: 7vw;
  font-weight: 700;
  padding-bottom: 20px;
  max-width: 85%;
  margin: auto;
}

.hero-area p {
  width: 60%;
  margin: auto;
  font-size: 2vw;
  line-height: 3vw;
  padding-bottom: 20px;
  color: #f9f9f9;
}

@media (max-width: 768px){
  .hero-area h1 {
    font-size: 9.5vw;
  }

  .hero-area p {
      font-size: 3vw;
      line-height: 4vw
    }
}

@media (max-width: 580px){
  .hero-area h1 {
    font-size: 60px;
  }

  .hero-area p {
      width: 80%;
      font-size: 18px;
      line-height: 26px;
    }
}

.template-list {
  padding: 100px 0;
}

.template-item {
  margin-bottom: 50px;
  border-radius: 2px;
  position: relative;
}

.template-item:hover img {
  opacity: 0.7;
}

.template-item a {
  box-shadow: 0 15px 45px -9px rgba(0, 0, 0, 0.25);
  display: block;
}

.template-item a img {
  border-radius: 5px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.template-item h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #252525;
  text-transform: uppercase;
}

.template-item a {
  display: inline-block;
  position: relative;
}

.call-to-action {
  background: #3483de;
  color: #fff;
  padding: 80px 0;
}

.call-to-action h2 {
  line-height: 45px;
  white-space: pre-line;
}

.call-to-action .btn-buy-button {
  background: #fff;
  padding: 18px 45px;
  border-radius: 30px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  color: #666;
}

#mouse-scroll {
  position: relative;
  width: 21px;
  height: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
  top: 5vh;
}

#mouse-scroll .mouse {
  width: 22px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  -webkit-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}

#mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background: #01252d;
  padding: 30px 0;
  color: #fff;
}

footer p {
  color: #fff;
  margin-bottom: 0;
}

footer a {
  color: #fff;
  font-weight: bold;
}
