html {
  scroll-behavior: smooth;
}

#logoImage {
    width: 150px;
    height: 50px;
}

.top-jumbotron-background {
    background: url("../images/home/home-hero-img.jpg") fixed center no-repeat;
    background-size: cover;
    height: 92vh;
    margin-bottom: 0;
}

#localeSwitcherInHowTo {
    width: initial;
    display: inline;
}

.tech-stack-icons img {
    width: 64px;
    height: 64px;
}

.footer-contact-links img {
    height: 40px;
}

.home-contact-links img {
    height: 50px;
}

@media (min-width: 576px) {
    .home-contact-links img {
        height: 30px;
    }
}

#productSingleLink img {
    max-height: 200px;
}

.product-card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.product-card a {
    cursor: pointer;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.08);
}

.single-product-section {
    min-height: 75vh;
}

.single-product-section img {
    max-height: 350px
}

.product-card #brandName {
    white-space: pre;
}

#colorHex {
    width: 18px;
    height: 18px
}