html {
  scroll-behavior: smooth;
}

.top-jumbotron-background {
    background: url("../imagesFinal/home/home-hero-img.jpg") fixed center no-repeat;
    background-size: cover;
    height: 92vh;
    margin-bottom: 0;
}
