html {
  scroll-behavior: smooth;
}

.top-jumbotron-background {
    background: url("../imagesFinal/home/home-hero-img.jpg") fixed center no-repeat;
    background-size: cover;
    height: 92vh;
    margin-bottom: 0;
}

#localeSwitcherInHowTo {
    width: initial;
    display: inline;
}

.tech-stack-icons img {
    width: 64px;
    height: 64px;
}

.footer-contact-links img {
    height: 40px;
}

.home-contact-links img {
    height: 50px;
}

@media (min-width: 576px) {
    .home-contact-links img {
        height: 30px;
    }
}
