<!DOCTYPE html>
<html lang="en">
<head id="headTemplate">
	<meta charset="UTF-8"/>
	<title id="appName">Face Greases</title>
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/about.css"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="imagesFinal/favicon_io/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="imagesFinal/favicon_io/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="imagesFinal/favicon_io/favicon-16x16.png"/>
    <link rel="manifest" href="imagesFinal/favicon_io/site.webmanifest"/>
</head>
<body>
<!-- Title and main message -->
<section class="hero-area overly">
	<div class="block">
		<h1 id="appName">Face Greases</h1>
		<p id="mainMessage">Makeup store web application created with<br/>Spring Boot, Thymeleaf and external REST API</p>
		<a id="goToIndex" class="btn btn-main mt-30">Enter</a>
		<div id="mouse-scroll">
			<a data-scroll href="#selfPromotion">
				<div class="mouse">
					<div class="mouse-in"></div>
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Self-promotion -->
<section class="template-list" id='selfPromotion'>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="template-item text-center">
					<a id="myGitHub">
						<img id ="gitHubImage" class="img-responsive" alt="gitHub image" src=""/>
					</a>
					<h4>GitHub</h4>
					<p id="myGitHubText">Direct link to my account on GitHub</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- LinkedIn -->
<section class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 id="linkedinMessage">Is my skill worth a job?<br/>I'm more than happy to contact you!</h2>
				<a id="linkedinButton" target="_blank" class="btn btn-buy-button">Go to my LinkedIn Profile</a>
			</div>
		</div>
	</div>
</section>


<footer id="footerTemplate"></footer>


<script src="plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
</body>
</html>