<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en">
<head id="headTemplate"></head>
<body>

<!-- Navbar template -->
<section id="navbarTemplate"></section>

<!-- Top Jumbotron -->
<div class="jumbotron jumbotron-fluid top-jumbotron-background d-flex">
  <div class="container text-center align-self-center">
    <h1 class="display-1 d-none d-md-block mb-3 font-weight-bolder" id="appTitle">Face Greases</h1>
    <h1 class="display-4 d-md-none mb-2 font-weight-bolder" id="appTitle">Face Greases</h1>
    <p class="lead mb-5" id="topJumbotronMessage" style="white-space: pre;">Web application that<br/>searches for makeup products</p>
    <a class="btn btn-light btn-lg mb-4" id="shopLinkInTopJumbotron" href="/shop" role="button">Try it!</a>
    <p><a class="btn btn-light btn-lg" id="aboutFragmentGoToButton" href="#about" role="button">Read about it...</a></p>
  </div>
</div>

<!-- About fragment -->
<div class="jumbotron jumbotron-fluid mb-0" id="about">
  <div class="d-none d-lg-flex row mb-0 mx-3 mx-md-4 mx-lg-5 align-items-end">
    <div class="d-none d-xl-block col-xl-1"></div>
    <div class="col-xs-12 col-lg-5 col-xl-4">
      <h1 class="text-center overflow-hidden" id="techStackName">Tech stack</h1>
    </div>
    <div class="d-none d-xl-block col-xl-1"></div>
    <div class="col-xs-12 col-lg-7 col-xl-6">
      <h1 class="text-center" id="howToName">How to</h1>
    </div>
  </div>
  <div class="row mx-3 mx-md-4 mx-lg-5">
    <!--Tech stack-->
    <div class="d-none d-xl-block col-xl-1"></div>
    <div class="col-xs-12 col-lg-5 col-xl-4 mb-5 mb-lg-auto">
      <h1 class="d-lg-none text-center overflow-hidden" id="techStackName">Tech stack</h1>
      <div class="px-2 pt-3 border border-dark rounded-lg">
        <div class="tech-stack-icons text-center">
          <figure class="figure p-2">
            <img id="javaLogo" class="figure-img" alt="Java">
            <figcaption class="figure-caption text-center">Java</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="springLogo" class="figure-img" alt="Spring Boot">
            <figcaption class="figure-caption text-center">Spring Boot</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="hibernateLogo" class="figure-img" alt="Hibernate">
            <figcaption class="figure-caption text-center">Hibernate</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="databaseLogo" class="figure-img" alt="Database">
            <figcaption class="figure-caption text-center">PostgreSQL</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="thymeleafLogo" class="figure-img" alt="Thyemelaf">
            <figcaption class="figure-caption text-center">Thymeleaf</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="htmlLogo" class="figure-img" alt="Html">
            <figcaption class="figure-caption text-center">HTML</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="cssLogo" class="figure-img" alt="Css">
            <figcaption class="figure-caption text-center">CSS</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="javascriptLogo" class="figure-img" alt="JavaScript">
            <figcaption class="figure-caption text-center">JavaScript</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="bootstrapLogo" class="figure-img" alt="Bootstrap">
            <figcaption class="figure-caption text-center">Bootstrap</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="gradleLogo" class="figure-img" alt="Gradle">
            <figcaption class="figure-caption text-center">Gradle</figcaption>
          </figure>
          <figure class="figure p-2">
            <img id="gitLogo" class="figure-img" alt="Git">
            <figcaption class="figure-caption text-center">Git</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="d-none d-xl-block col-xl-1"></div>
    <!--How to-->
    <div class="col-xs-12 col-lg-7 col-xl-6">
      <h1 class="d-lg-none w-100 text-center" id="howToName">How to</h1>
      <div class="p-2 mb-5 border border-dark rounded-lg text-center">
        <p>
          <span id="howToMsg1stPart">1st howTo msg part </span>
          <a id="shopLink" target="_blank">shop view</a>
          <span id="howToMsg2ndPart">2nd howTo msg part </span>
        </p>
        <p>
          <span id="howToMsg3rdPart">3rd howTo msg part</span>
          <select class="form-control" id="localeSwitcherInHowTo" onchange="changeLocale('localeSwitcherInHowTo')">
            <option id="localeSwitcherOption">EN</option>
          </select>
          <span id="howToMsg4thPart">4th howTo msg part</span>
        </p>
        <p class="mb-0">
          <span id="makeupDataMsg">All data comes from</span>
          <a id="makeupApiLink" target="_blank">Makeup&nbsp;API</a>.
          <span id="projectCodeMsg1stPart">You can view the </span><em id="appTitle">Face Greases</em>
          <span id="projectCodeMsg2ndPart"> project code on </span>
          <a id="githubProjectLink" target="_blank">GitHub</a>.
        </p>
      </div>
      <!--Contact-->
      <h1 class="w-100 text-center" id="contactName">Contact</h1>
      <div class="p-2 border border-dark rounded-lg text-center">
        <p id="contactMessage">I'm more than happy to contact you. I really appreciate any form of help
          or constructive criticism!</p>
        <div class="row home-contact-links">
          <a class="col" id="githubLink" target="_blank">
            <img id ="githubImage" alt="github logo"/><br/>
            <p class="d-none d-sm-inline font-weight-light text-nowrap" id="githubLinkText"></p>
          </a>
          <a class="col" id="linkedinLink" target="_blank">
            <img id ="linkedinImage" alt="linkedin logo"/><br/>
            <p class="d-none d-sm-inline font-weight-light text-nowrap" id="linkedinLinkText"></p>
          </a>
          <a class="col" id="mailLink" target="_blank">
            <img id ="mailImage" alt="mail logo"/><br/>
            <p class="d-none d-sm-inline font-weight-light text-nowrap" id="mailLinkText"></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="scriptTemplate"></div>

</body>
</html>
