<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head id="headTemplate"></head>

<body id="body">

<!-- Top Header -->
<section id="topHeaderTemplate"></section>

<!-- Main Menu Section -->
<section id="mainMenuTemplate"></section>

<!-- Product categories -->
<section class="product-category section">
	<div class="container">
		<div id="varInit" class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2 id="productCategoriesHead">Product Categories PH</h2>
				</div>
			</div>
			<div class="col-md-6">
                <!-- Eyes -->
				<div class="category-box">
					<a id="eyesCategoryLink">
						<img src="" id="eyesCategoryImage"/>
						<div class="content">
							<h3 id="eyesName">Eyes PH</h3>
							<p id="viewProductsName">View products PH</p>
						</div>
					</a>
				</div>
                <!-- Lips -->
				<div class="category-box">
					<a id="lipsCategoryLink">
						<img src="" id="lipsCategoryImage"/>
						<div class="content">
							<h3 id="lipsName">Lips PH</h3>
                            <p id="viewProductsName">View products PH</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6">
                <!-- Face -->
				<div class="category-box category-box-2">
					<a id="faceCategoryLink">
						<img src="" id="faceCategoryImage"/>
						<div class="content">
							<h3 id="faceName">Face PH</h3>
                            <p id="viewProductsName">View products PH</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Trendy products -->
<!--<section class="products section">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="title text-center">-->
<!--				<h2 id="trendyProducts">Trendy Products PH</h2>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="row"></div>-->
<!--	</div>-->
<!--</section>-->

<footer id="footerTemplate"></footer>

<div id="scriptTemplate"></div>

</body>
</html>
