<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html>
<head id="headTemplate"></head>
<body>

<!-- Navbar template -->
<section id="navbarTemplate"></section>

<!-- Top Jumbotron -->
<div class="jumbotron jumbotron-fluid top-jumbotron-background d-flex">
  <div class="container text-center align-self-center">
    <h1 class="display-1 d-none d-md-block mb-3 font-weight-bolder" id="appTitle">Face Greases</h1>
    <h1 class="display-4 d-md-none mb-2 font-weight-bolder" id="appTitle">Face Greases</h1>
    <p class="lead mb-4" id="topJumbotronMessage" style="white-space: pre;">Web application that<br/>searches for makeup products</p>
    <a class="btn btn-light btn-lg mb-4" id="shopLinkInTopJumbotron" href="/shop" role="button">Try it!</a>
    <p><a class="btn btn-light btn-lg" id="aboutFragmentGoToButton" href="#about" role="button">Read about it...</a></p>
  </div>
</div>

<!-- About -->
<div class="container" id="about">
  <div class="jumbotron text-center">
    <h1 id="aboutTopMessage">A few words about an app...</h1>
    <p><em id="appTitle"></em><span id="aboutMsg1stPart"> 1st about msg part </span>
      <a id="makeupApiLink" target="_blank">Makeup&nbsp;API</a><span id="aboutMsg2ndPart"> 2nd about msg part </span>
    <p><span id="howToMsg1stPart">1st howTo msg part </span><a id="shopLink" target="_blank">shop view</a>
      <span id="howToMsg2ndPart">2nd howTo msg part </span></p>
    <p id="howToMsg3rdPart">3rd howTo msg part</p>
  </div>
</div>

<footer id="footerTemplate"></footer>

<div id="scriptTemplate"></div>

</body>
</html>
