<!DOCTYPE html>
<html>
<head id="headTemplate"></head>
<body onunload="resetFilterFormOnUnload()">

<!-- Navbar -->
<section id="navbarTemplate"></section>

<div class="container-fluid w-75 mt-5 shop-section">
	<div class="row">
		<!--Collapse button-->
		<button class="d-md-none btn btn-info mb-4 w-75 mx-auto" id="filterCollapseName" type="button" data-toggle="collapse"
						data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">Filter collapse
		</button>
		<!-- Filter -->
		<div class="col-md-3 col-lg-2 mb-4 mb-md-0 collapse" id="collapseFilter">
			<form id="filter" onsubmit="disableEmptyInputs(this)">
				<div class="form-group">
					<label id="typeName" for="typeOptionsList">Type</label>
					<select class="form-control" id="typeOptionsList">
						<option>-</option>
						<option id="typeForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="categoryName" for="categoryOptionsList">Category</label>
					<select class="form-control" id="categoryOptionsList">
						<option>-</option>
						<option id="categoryForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="brandName" for="brandOptionsList">Brand</label>
					<select class="form-control" id="brandOptionsList">
						<option>-</option>
						<option id="brandForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="tagsName" for="tagsOptionsList">Tags</label>
					<select class="form-control" id="tagsOptionsList">
						<option>-</option>
						<option id="tagsForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="priceName">Price</label>
					<input type="number" class="form-control" id="priceGreater" min="0" step="0.1" placeholder="Min">
				</div>
				<div class="form-group">
					<input type="number" class="form-control" id="priceLess" min="0" step="0.1" placeholder="Max">
				</div>
				<div class="form-group">
					<label id="ratingName">Rating</label>
					<input type="number" class="form-control" id="ratingGreater" min="0" max="5" step="0.1" placeholder="Min">
				</div>
				<div class="form-group">
					<input type="number" class="form-control" id="ratingLess" min="0" max="5" step="0.1" placeholder="Max">
				</div>
				<button type="submit" class="btn btn-primary w-50 d-flex mx-auto mx-md-0 justify-content-center">
					<span class="font-weight-bolder" id="filteringName">Filter</span>
				</button>
			</form>
		</div>
		<!-- Product list -->
		<div class="col-md-9 col-lg-10">
			<div id="productListSwitch" class="row mb-4">
				<!--Exception case-->
				<div class="d-flex w-100 justify-content-center" id="productsNullCase">
					<div class="alert alert-warning" id="exceptionSwitch" role="alert">
						<span id="productsNotFoundCase">Products have not been found.</span>
						<span id="otherExceptionCase">Something went wrong... Please try again.</span>
					</div>
				</div>
				<!--Default case-->
				<div class="row w-100 mx-0" id="productsDefaultCase">
					<!--Sorting-->
					<div class="row w-100 mx-0 mb-5 mt-4 mt-xl-0">
						<div class="col-12 col-sm-6 col-lg-4 mb-3 mb-lg-0 d-flex align-items-center">
							<label class="ml-auto mr-2 mb-0" id="sortName" for="sortOptionsList">Sort:</label>
							<select class="form-control w-auto mr-auto" id="sortOptionsList" onchange="sendRequestForSelectedOption('sort', 'sortOptionsList')">
								<option>-</option>
								<option id="sortForEach"></option>
							</select>
						</div>
						<div class="col-6 col-sm-6 col-lg-4 mb-sm-3 mb-lg-0 d-flex align-items-center">
							<label class="ml-auto mr-2 mb-0" id="sizeName">Size:</label>
							<select class="form-control w-auto mr-auto" id="sizeOptionsList" onchange="sendRequestForSelectedOption('size', 'sizeOptionsList')">
								<option id="sizeForEach">-</option>
							</select>
						</div>
						<div class="col-6 col-sm-12 col-lg-4 d-flex">
							<span class="text-nowrap align-self-center font-weight-light mx-auto ml-lg-auto mr-lg-5"
										id="totalElementsInfo">1-12 from 931</span>
						</div>
					</div>
					<!--Products-->
					<div class="col-sm-6 col-lg-4" id="productsForEach">
						<div id="productTemplate"></div>
					</div>
				</div>
			</div>
			<!--Pagination-->
			<nav id="paginationCondition" aria-label="Search results pages">
				<ul class="pagination flex-wrap justify-content-center">
					<li class="page-item" id="previousIconCondition">
						<a class="page-link" id="previousLink" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" id="paginationForEach">
						<a class="page-link" id="paginationLink">1</a>
					</li>
					<li class="page-item" id="nextIconCondition">
						<a class="page-link" id="nextLink" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<footer id="footerTemplate"></footer>

<div id="scriptTemplate"></div>

<script>
	var mediaWidth = window.matchMedia("(min-width: 768px)");
	toggleFilterVisibilityOnWidthBreakpoint(mediaWidth);
	mediaWidth.addListener(toggleFilterVisibilityOnWidthBreakpoint);
</script>

</body>
</html>
