<!DOCTYPE html>
<html>
<head id="headTemplate"></head>
<body onunload="resetFilterFormOnUnload()">

<!-- Navbar -->
<section id="navbarTemplate"></section>

<div class="container-fluid w-75 mt-5 shop-section">
	<div class="row">
		<!--Collapse button-->
		<button class="d-md-none btn btn-info mb-5 w-75 mx-auto" id="filterCollapseName" type="button" data-toggle="collapse"
						data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">Filter collapse
		</button>
		<!-- Filter -->
		<div class="col-md-3 col-lg-2 mb-5 mb-md-0 collapse" id="collapseFilter">
			<form id="filter" onsubmit="disableEmptyInputs(this)">
				<div class="form-group">
					<label id="typeName" for="typeParamName">Type</label>
					<select class="form-control" id="typeParamName">
						<option>-</option>
						<option id="typeForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="categoryName" for="categoryParamName">Category</label>
					<select class="form-control" id="categoryParamName">
						<option>-</option>
						<option id="categoryForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="brandName" for="brandParamName">Brand</label>
					<select class="form-control" id="brandParamName">
						<option>-</option>
						<option id="brandForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="tagsName" for="tagsParamName">Tags</label>
					<select class="form-control" id="tagsParamName">
						<option>-</option>
						<option id="tagsForEach"></option>
					</select>
				</div>
				<div class="form-group">
					<label id="priceName">Price</label>
					<input type="number" class="form-control" id="priceGreater" placeholder="Min">
				</div>
				<div class="form-group">
					<input type="number" class="form-control" id="priceLess" placeholder="Max">
				</div>
				<div class="form-group">
					<label id="ratingName">Rating</label>
					<input type="number" class="form-control" id="ratingGreater" placeholder="Min">
				</div>
				<div class="form-group">
					<input type="number" class="form-control" id="ratingLess" placeholder="Max">
				</div>
				<button type="submit" class="btn btn-primary w-50 d-flex mx-auto mx-md-0 justify-content-center">
					<span class="font-weight-bolder" id="filteringName">Filter</span>
				</button>
			</form>
		</div>
		<!-- Product list -->
		<div class="col-md-9 col-lg-10">
			<div id="productListSwitch" class="row mb-4">
				<!--Exception case-->
				<div class="d-flex w-100 justify-content-center" id="productsNullCase">
					<div class="alert alert-warning" id="exceptionSwitch" role="alert">
						<span id="productsNotFoundCase">Products have not been found.</span>
						<span id="otherExceptionCase">Something went wrong... Please try again.</span>
					</div>
				</div>
				<!--Default case-->
				<div class="row w-100 mx-0" id="productsDefaultCase">
					<!--Sorting-->
					<div class="col-12 d-flex justify-content-center mb-5">
						<div class="d-flex">
							<label class="d-flex align-self-center mb-0 mr-2" id="sortName" for="sortParamName">Sort:</label>
							<select class="form-control" id="sortParamName" onchange="sendRequestForSortedProducts()">
								<option>-</option>
								<option id="sortForEach"></option>
							</select>
						</div>
					</div>
					<!--Products-->
					<div class="col-sm-6 col-lg-4" id="productsForEach">
						<div id="productTemplate"></div>
					</div>
				</div>
			</div>
			<!--Pagination-->
			<nav id="paginationCondition" aria-label="Search results pages">
				<ul class="pagination flex-wrap justify-content-center">
					<li class="page-item" id="previousIconCondition">
						<a class="page-link" id="previousLink" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" id="paginationForEach">
						<a class="page-link" id="paginationLink">1</a>
					</li>
					<li class="page-item" id="nextIconCondition">
						<a class="page-link" id="nextLink" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<footer id="footerTemplate"></footer>

<div id="scriptTemplate"></div>

<script>
	var mediaWidth = window.matchMedia("(min-width: 768px)");
	toggleFilterVisibilityOnWidthBreakpoint(mediaWidth);
	mediaWidth.addListener(toggleFilterVisibilityOnWidthBreakpoint);
</script>

</body>
</html>
