<!DOCTYPE html>
<html>
<head id="headTemplate"></head>
<body>

<!-- Navbar -->
<section id="navbarTemplate"></section>

<!--Single product-->
<section class="single-product-section d-flex align-items-center mt-5" id="varInit">
  <div class="container" id="productSwitch">
    <!--Exception case-->
    <div class="d-flex w-100 justify-content-center" id="productNullCase">
      <div class="alert alert-warning" id="exceptionSwitch" role="alert">
        <span id="singleProductNotFoundCase">Unfortunately, product has not beed found.</span>
        <span id="otherExceptionCase">Something went wrong... Please try again.</span>
      </div>
    </div>
    <div id="productDefaultCase" class="row">
      <div class="col-md-5 d-flex mb-5">
        <img class="align-self-center h-100 mw-100 mx-auto" id="productImage" alt="product image">
      </div>
      <div class="col-md-7">
        <div>
          <h4 id="productName">Product Name</h4>
          <hr class="my-3"/>
          <div class="row mb-4">
            <span class="col-4 col-sm-5 font-italic border-right border-black" id="brandName">Brand</span>
            <span class="col-4 col-sm-3 font-weight-light border-right border-black" id="typeName">Type</span>
            <span class="col-4 col-sm-4 font-weight-light" id="categoryName">Category</span>
          </div>
          <p><strong id="priceName">Price:</strong> <span id="productPrice"></span></p>
          <p class="mb-5"><strong id="ratingName">Rating:</strong> <span id="productRating"></span></p>
          <p class="mb-5" id="productDescription">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsum dicta quod, quia doloremque aut
            deserunt commodi quis. Totam a consequatur beatae nostrum, earum consequuntur?
            Eveniet consequatur ipsum dicta recusandae.
          </p>
          <div id="colorCondition">
            <hr class="my-3"/>
            <div class="d-inline-flex align-items-center" id="colorForEach">
              <div class="rounded-circle" id="colorHex"></div>
              <span class="text-muted font-weight-light align-text-bottom ml-1 mr-3" id="colorName">color</span>
            </div>
          </div>
          <div id="tagsCondition">
            <hr class="my-3"/>
            <p class="d-inline mr-2">
              <strong id="tagsName">Tags: </strong>
            </p>
            <ul class="list-inline d-inline">
              <li class="list-inline-item" id="tagsForEach">
                <a class="text-reset" href="#" id="tagLink" style="text-decoration: underline;"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footerTemplate"></footer>

<!-- Script -->
<div id="scriptTemplate"></div>

</body>
</html>