<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head id="headTemplate"></head>

<body id="body">

<!-- Top Header -->
<section id="topHeaderTemplate"></section>

<!-- Main Menu -->
<section id="mainMenuTemplate"></section>

<!-- Breadcrumbs -->
<section id="breadcrumbsTemplate"></section>

<section id="varInit" class="single-product">
	<div id="productSwitch" class="container">
		<div id="productNullCase">
			<div class="alert-part">
				<div id="exceptionSwitch" class="alert alert-warning alert-common" role="alert">
					<i class="tf-ion-alert-circled"></i>
					<span id="singleProductNotFoundCase">Unfortunately, product has not beed found.</span>
					<span id="apiConnectionExceptionCase">Something is wrong with external server. Please try again.</span>
					<span id="otherExceptionCase">Something went wrong... Please try again.</span>
				</div>
			</div>
		</div>
		<div id="productDefaultCase" class="row mt-20">
			<div class="col-md-5">
				<img id="productImage" class="img-responsive" src="" alt="product image">
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2 id="productName">Product Name</h2>
					<p id="productPrice" class="product-price">$99.99</p>

					<p id="productDescription" class="product-description mt-20">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsum dicta quod, quia doloremque aut deserunt commodi quis. Totam a consequatur beatae nostrum, earum consequuntur? Eveniet consequatur ipsum dicta recusandae.
					</p>
					<div id="colorCondition">
						<div class="color-swatches">
							<span id="colorName">Color:</span>
							<ul>
								<li id="colorForEach">
									<a id="colorHex" href="#" ></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer id="footerTemplate"></footer>

<!-- Script -->
<div id="scriptTemplate"></div>

</body>
</html>